<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="container">
        <!-- Content here -->

        <h4 class="mat-display-1">Place Product Bids</h4>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="f.email" (blur)="onBlurEmail($event)" required>
                    <mat-error *ngIf="f.email.invalid && f.email.errors?.['required']">Email is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter First Name</mat-label>
                    <input matInput #input placeholder="Enter First Name" [formControl]="f.firstName">
                    <mat-error *ngIf="f.firstName.invalid && f.firstName.errors?.['required']">First Name is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Last Name</mat-label>
                    <input matInput #input placeholder="Enter Last Name" [formControl]="f.lastName">
                    <mat-error *ngIf="f.lastName.invalid && f.lastName.errors?.['required']">Last Name is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Address</mat-label>
                    <textarea matInput #input placeholder="Enter Address" [formControl]="f.address"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter City</mat-label>
                    <input matInput #input placeholder="Enter City" [formControl]="f.city">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter State</mat-label>
                    <input matInput #input placeholder="Enter State" [formControl]="f.state">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Pin</mat-label>
                    <input matInput #input placeholder="Enter Pin" [formControl]="f.pin">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Phone Number</mat-label>
                    <input matInput #input placeholder="Enter Phone Number" [formControl]="f.phNumber">
                    <mat-error *ngIf="f.phNumber.invalid && f.phNumber.errors?.['required']">Phone Number is required.</mat-error>
                    <mat-error *ngIf="f.phNumber.invalid && (f.phNumber.errors?.['minlength'] || f.phNumber.errors?.['maxlength'])">Phone Number must be 10 digit.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>User Type</mat-label>
                    <input matInput #input placeholder="Enter User type" [formControl]="f.userType">
                    <mat-error *ngIf="f.user.invalid && f.user.errors?.['required']">User is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Bid Amount</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0" [formControl]="f.bidAmount" required>
                    <span matPrefix>$&nbsp;</span>
                    <mat-error *ngIf="f.bidAmount.invalid && f.bidAmount.errors?.['required']">Phone Number is required.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <!-- <mat-form-field hintLabel="Max 10 characters" appearance="fill">
    <mat-label>Enter some input</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Nougat">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
</mat-form-field> -->
        <div class="row">
            <div class="col"><button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>